extends layout

block content
  h1= title
  link(rel='stylesheet', href='style.css')
  style.
    .dumbellAttr {
      background-color: aquamarine;
    }
  form(id='DumbellForm', action="/resource/dumbells", method="POST")
    div.form-group
      label.dumbellAttr(for='dumbell_name') Dumbell Name
      input#dumbell_name(type='text', name='dumbell_name')
    div.form-group
      label.dumbellAttr(for='weight') Dumbell Weight
      input#size(type='number', name='weight')
    div.form-group
      label.dumbellAttr(for='material') Dumbell Material
      input#costmaterial(type='text', name='material')
    input(type="submit")
  script.
    document.forms['DumbellForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed: " + error);
      });
    });
