extends layout

block content
  h1= Assignment10 
  p Welcome to #{title}
  p This is Mahesh from INDIA.
  button(type="button", class="btn btn-info" onclick="goFaster()") Press me
  div(id="faster") Increase the speed

  script.
    var mph = 20;
    var change = 1;

    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById("faster").textContent = "MPH " + mph + " with change " + change;
    }
    a(href="/dumbells") ----lift some weights----  